In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("DataSet.csv")

In [21]:
df

  Developer   Age   Salary Married
0   Karachi  42.0  78000.0      No
1    Lahore  32.0  48000.0     Yes
2   Karachi  36.0  60000.0      No
3    Multan  41.0  68000.0      No
4    Lahore  42.0      NaN     Yes
5    Multan  43.0  59000.0     Yes
6   Karachi   NaN  59000.0      No
7    Lahore  44.0  79000.0     Yes
8    Multan  52.0  99000.0      No
9    Lahore  32.0  69000.0     Yes

In [22]:
X=df.iloc[:,:-1].values

In [23]:
Y=df.iloc[:,3].values

In [24]:
print(X)
print(Y)

[['Karachi' 42.0 78000.0]
 ['Lahore' 32.0 48000.0]
 ['Karachi' 36.0 60000.0]
 ['Multan' 41.0 68000.0]
 ['Lahore' 42.0 nan]
 ['Multan' 43.0 59000.0]
 ['Karachi' nan 59000.0]
 ['Lahore' 44.0 79000.0]
 ['Multan' 52.0 99000.0]
 ['Lahore' 32.0 69000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [25]:
#Missing Value Handling by most_frequent

from sklearn.impute import SimpleImputer 
import numpy as np


imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
#imputer = SimpleImputer(missing_values=np.nan, strategy='median')

#imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')


X[:,1:3]= imputer.fit_transform(X[:,1:3])

In [26]:
print(X)
print(Y)

[['Karachi' 42.0 78000.0]
 ['Lahore' 32.0 48000.0]
 ['Karachi' 36.0 60000.0]
 ['Multan' 41.0 68000.0]
 ['Lahore' 42.0 68777.77777777778]
 ['Multan' 43.0 59000.0]
 ['Karachi' 40.44444444444444 59000.0]
 ['Lahore' 44.0 79000.0]
 ['Multan' 52.0 99000.0]
 ['Lahore' 32.0 69000.0]]
['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [27]:
#Concept of Dummy Variable, Handling the conflict of them
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
#Encode Country Column
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
ct = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = 'passthrough')
X = ct.fit_transform(X)

Y=labelencoder_X.fit_transform(Y)

In [28]:
print(X)
print(Y)

[[1.0 0.0 0.0 42.0 78000.0]
 [0.0 1.0 0.0 32.0 48000.0]
 [1.0 0.0 0.0 36.0 60000.0]
 [0.0 0.0 1.0 41.0 68000.0]
 [0.0 1.0 0.0 42.0 68777.77777777778]
 [0.0 0.0 1.0 43.0 59000.0]
 [1.0 0.0 0.0 40.44444444444444 59000.0]
 [0.0 1.0 0.0 44.0 79000.0]
 [0.0 0.0 1.0 52.0 99000.0]
 [0.0 1.0 0.0 32.0 69000.0]]
[0 1 0 0 1 1 0 1 0 1]

In [29]:
#Training and Testing Data (divide the data into two part)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(X,Y,test_size=0.2, random_state=0)

In [30]:
#Standard and fit the data for better predication 

from sklearn.preprocessing import StandardScaler

sc_X=StandardScaler()

X_test=sc_X.fit_transform(X_test)


X_train=sc_X.fit_transform(X_train)

In [31]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [32]:
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [43]:
model.predict([[0,1,0,42,48000]])

array([1.43355222])