In [3]:
import numpy as np
import pandas as pd

In [4]:

transactions = [[1, 2, 5],
                [2, 4],
                [2, 3],
                [1, 2, 4],
                [1, 3],
                [2, 3],
                [1, 3],
                [1, 2, 3, 5],
                [1, 2, 3]]


'''



dataset = pd.read_csv('Market.csv',names=np.arange(1,21))

# Preprocesing data to fit model
transactions = []
for sublist in dataset.values.tolist():
    clean_sublist = [item for item in sublist if item is not np.nan]
    transactions.append(clean_sublist)

'''

"\n\n\n\ndataset = pd.read_csv('Market.csv',names=np.arange(1,21))\n\n# Preprocesing data to fit model\ntransactions = []\nfor sublist in dataset.values.tolist():\n    clean_sublist = [item for item in sublist if item is not np.nan]\n    transactions.append(clean_sublist)\n\n"

In [11]:
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_array=te.fit(transactions).transform(transactions)
df_x=pd.DataFrame(te_array,columns=te.columns_)
df_x

       1      2      3      4      5
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [12]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

df_set=apriori(df_x,min_support=0.005,use_colnames=True)
df_rules=association_rules(df_set,min_threshold=0.005,support_only=True)

In [13]:
df_set

     support      itemsets
0   0.666667           (1)
1   0.777778           (2)
2   0.666667           (3)
3   0.222222           (4)
4   0.222222           (5)
5   0.444444        (1, 2)
6   0.444444        (1, 3)
7   0.111111        (1, 4)
8   0.222222        (1, 5)
9   0.444444        (2, 3)
10  0.222222        (2, 4)
11  0.222222        (2, 5)
12  0.111111        (3, 5)
13  0.222222     (1, 2, 3)
14  0.111111     (1, 2, 4)
15  0.222222     (1, 2, 5)
16  0.111111     (1, 3, 5)
17  0.111111     (2, 3, 5)
18  0.111111  (1, 2, 3, 5)

In [10]:
df_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(2),NaN,NaN,0.444444,NaN,NaN,NaN,NaN
1,(2),(1),NaN,NaN,0.444444,NaN,NaN,NaN,NaN
2,(1),(3),NaN,NaN,0.444444,NaN,NaN,NaN,NaN
3,(3),(1),NaN,NaN,0.444444,NaN,NaN,NaN,NaN
4,(1),(4),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
5,(4),(1),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
6,(1),(5),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
7,(5),(1),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
8,(2),(3),NaN,NaN,0.444444,NaN,NaN,NaN,NaN
9,(3),(2),NaN,NaN,0.444444,NaN,NaN,NaN,NaN
10,(2),(4),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
11,(4),(2),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
12,(2),(5),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
13,(5),(2),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
14,(3),(5),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
15,(5),(3),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
16,"(1, 2)",(3),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
17,"(1, 3)",(2),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
18,"(2, 3)",(1),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
19,(1),"(2, 3)",NaN,NaN,0.222222,NaN,NaN,NaN,NaN
20,(2),"(1, 3)",NaN,NaN,0.222222,NaN,NaN,NaN,NaN
21,(3),"(1, 2)",NaN,NaN,0.222222,NaN,NaN,NaN,NaN
22,"(1, 2)",(4),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
23,"(1, 4)",(2),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
24,"(2, 4)",(1),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
25,(1),"(2, 4)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
26,(2),"(1, 4)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
27,(4),"(1, 2)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
28,"(1, 2)",(5),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
29,"(1, 5)",(2),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
30,"(2, 5)",(1),NaN,NaN,0.222222,NaN,NaN,NaN,NaN
31,(1),"(2, 5)",NaN,NaN,0.222222,NaN,NaN,NaN,NaN
32,(2),"(1, 5)",NaN,NaN,0.222222,NaN,NaN,NaN,NaN
33,(5),"(1, 2)",NaN,NaN,0.222222,NaN,NaN,NaN,NaN
34,"(1, 3)",(5),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
35,"(1, 5)",(3),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
36,"(3, 5)",(1),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
37,(1),"(3, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
38,(3),"(1, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
39,(5),"(1, 3)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
40,"(2, 3)",(5),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
41,"(2, 5)",(3),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
42,"(3, 5)",(2),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
43,(2),"(3, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
44,(3),"(2, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
45,(5),"(2, 3)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
46,"(1, 2, 3)",(5),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
47,"(1, 2, 5)",(3),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
48,"(1, 3, 5)",(2),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
49,"(2, 3, 5)",(1),NaN,NaN,0.111111,NaN,NaN,NaN,NaN
50,"(1, 2)","(3, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
51,"(1, 3)","(2, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
52,"(1, 5)","(2, 3)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
53,"(2, 3)","(1, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
54,"(2, 5)","(1, 3)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
55,"(3, 5)","(1, 2)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
56,(1),"(2, 3, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
57,(2),"(1, 3, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
58,(3),"(1, 2, 5)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN
59,(5),"(1, 2, 3)",NaN,NaN,0.111111,NaN,NaN,NaN,NaN