In [102]:
import pandas as pd

In [103]:
df=pd.read_csv("spam.csv")

In [104]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [105]:
def spammer(x):
    if x=="spam":
        return 1
    else:
        return 0

In [106]:
df['Spam']=df['Category'].apply(spammer)

In [107]:
df

     Category                                            Message  Spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [108]:
df.drop(['Category'],inplace=True, axis="columns")

In [109]:
df

                                                Message  Spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [110]:
X=df.Message
y=df.Spam

In [111]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [112]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X_train_counts=cv.fit_transform(X_train)

In [114]:
from sklearn.naive_bayes import MultinomialNB
nb=MultinomialNB()
nb.fit(X_train_counts,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [116]:
y_pred=nb.predict(cv.transform(X_test))

In [117]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9877961234745154

In [120]:
email=["Please Click this link","Hello brother how are you.."]
email_count=cv.transform(email)

In [121]:
nb.predict(email_count)

array([1, 0], dtype=int64)